* {
	border-radius: 0 !important;
}


body {
	background-color: rgba(44, 62, 80, 1.0);
	color: #f0f0f0 !important;
	font-family: 'Helvetica Neue', sans-serif;
}

.home-well {
	padding: 75px;
}

#sidebar-wrapper {
	background-color: rgba(0, 0, 0, 0.3);
	/* border-right: 1px solid #eee; */
}

.sidebar-nav * {
	color: #f0f0f0 !important;
}

#menubtn {
	color: #f0f0f0;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.sidebar-brand {
	background-color: rgba(0, 0, 0, 0.3);
}

.well {
	background-color: rgba(0, 0, 0, 0.3);
}

input[type=text] {
	background-color: rgba(0, 0, 0, 0.3);
	color: #f0f0f0;
	font-size: 1.2em;
	width:35px;
}

table {
	font-weight: bold;
}
