<div class="well well-lg text-center home-well">
	<div class="row">
		<h1>Process Scheduling Algorithms</h1>
		<h2>Operating Systems</h2>
		<br>
		<blockquote style="border-color: #ddd">
			"In computing, scheduling is the method by which threads, processes or data flows
			are given access to system (e.g. processor time, communications bandwidth).
			This is usually done to load balance and share system resources effectively or achieve a target quality of service."
		</blockquote>
		<br><br>
		<div class="pull-right">
			<p>Lakshya Ranganath</p>
			<p>Peri Nikhil Chandra</p>
		</div>
	</div>
</div>
